<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetterstation</title>
    <link rel="stylesheet" href="/css/tui-chart.css">
    <script src="/toastui/tui-code-snippet.js"></script>
    <script src="/toastui/raphael.min.js"></script>
    <script src="/toastui/tui-chart.js"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/views/chart.html">Chart</a></li>
            <li><a href="/views/settings.html">Settings</a></li>
        </ul>
    </nav>
    <main>
        <div id="chart-area">
            <script src="/script/chart.js"></script>
        </div>
    </main>
</body>
</html>
