<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetterstation</title>
    <link rel="stylesheet" href="/css/tui-chart.css">
    <script src="/toastui/tui-code-snippet.js"></script>
    <script src="/toastui/raphael.min.js"></script>
    <script src="/toastui/tui-chart.js"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Charts 
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/views/temp.html">Temperature</a>
                <a href="/views/humidity.html">Humidity</a>
                <a href="/views/pressure.html">Pressure</a>
            </div>
        </div>
        <a href="/views/settings.html">Settings</a>
    </nav>
    <main>
        <div id="chart-area">
            <script src="/scripts/humidity.js"></script>
        </div>
    </main>
</body>
</html>
