<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetterstation</title>
    <link rel="stylesheet" href="/css/tui-chart.css">
    <title>Document</title>
    <script src="../scripts/settings.js"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Charts 
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/views/temp.html">Temperature</a>
                <a href="/views/humidity.html">Humidity</a>
                <a href="/views/pressure.html">Pressure</a>
            </div>
        </div>
        <a href="/views/settings.html">Settings</a>
    </nav> 
    <main>
        <p></p>

        <h1>Settings</h1>
        
        <button onclick="buttonFunction()">Empty Database</button>
        <script>
        function buttonFunction() {
        if (confirm('Are you sure you want to delete all current data from the database permanently?')) {
        // Save it!
        console.log(loadDataDefault());
        console.log('Data was deleted successfully')
        } else {
        // Do nothing!
        console.log('');
        }};
        </script>


         <!--<div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>-->
    </main>
</body>
</html>

