<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wetterstation</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>Wetterstation</a></h1>
            <p>Gruppe 2</p>
        </header>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Über uns</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
        <main>
            <h1>Die aktuelle Temperatur beträgt:</h1>
            <h2>{{temperatureNow}}</h2>
            <h2>{{humidityNow}}</h2>
        </main>
    </body>
</html>